torch>=2.2.0
transformers>=4.48.0
accelerate>=1.2.1
bitsandbytes>=0.45.0
sentence-transformers>=3.3.1
faiss-cpu>=1.8.0.post1
scikit-learn>=1.5.2
numpy>=1.26.4
pandas>=2.2.3
tqdm>=4.66.5
pydantic>=2.10.3
typing_extensions>=4.12.2
pyyaml>=6.0.2
joblib>=1.4.2
pillow>=11.0.0
